
input{
  width:70px;
  height:25px;
  font-size: 15px;
  margin-right:10px;
  margin-bottom: 20px;
}


.container {
max-width:150px;
background-color: rgb(238,187,8);
border:2px solid rgb(191,161,46);
border-radius: 20px;
height: 400px;
margin:0 auto;

}

.red-light {

  margin:30px auto;
  border-radius: 100%;
  border: 2px solid black;
  width:90px;
  height: 90px;
  background-color:rgb(91,70,2);
  box-shadow: inset 1px 8px 2px -4px;
  transition-duration: 500ms;
}

.yellow-light {
  margin:27px auto;
  border-radius: 100%;
  border: 2px solid black;
  width:90px;
  height: 90px;
  background-color:rgb(91,70,2);
  box-shadow: inset 1px 8px 2px -4px;
  transition-duration: 500ms;

}

.green-light{
  margin:15px auto;
  border-radius: 100%;
  border: 2px solid black;
  width:90px;
  height: 90px;
  background-color: rgb(91,70,2);
  box-shadow: inset 1px 8px 2px -4px;
  transition-duration: 500ms;
}

.red-light-checked{
background-color: red;


}

.yellow-light-checked{
background-color: rgb(254,232,36);
}

.green-light-checked{
background-color: green;
}

.line{
max-width: 25px;
margin:0 auto;
border:2px solid black;
height: 200px;
background-color: rgb(91,70,2);
border-radius: 3px;

}
